﻿header
{
    position: fixed;
    left: 0;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: white;
    z-index: 5;
}

#aLogo
{
    position: absolute;
    left: 0;
    top: 0;
    height: 65px;
    width: 230px;
}

#search1
{
    position: relative;
    left: 50%;
    top: 20px;
    width: 30%;
    font: bold 18px arial, verdana;
}

    #search1 a
    {
        position: absolute;
        right: 0;
    }

#input1
{
    position: absolute;
    left: 0;
    width: 75%;
}

#submit1
{
    position: absolute;
    left: 75%;
    width: 19px;
    height: 20px;
    background: url("../images/submit1.png");
    cursor:pointer;
}

#info
{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    background: url("../images/paw2.png");
    float: right;
}

    #info:hover
    {
        background: url("../images/paw1.png");
    }

    #info li
    {
        float: left;
        position: relative;
        display: block;
        list-style:none;
        background:url("../images/paw1.png");
    }

        #info li a
        {
            display: block;
            padding: 5px;
            text-decoration: none;
            color: black;
            background: white;
        }

            #info li a:hover
            {
                background: lightgray;
            }

    #info ul
    {
        position: relative;
        right: 30px;
        top: 40px;
        list-style: none;
        opacity: 0;
        display: none;
    }

    #info:hover ul
    {
        opacity: 1;
        display: block;
    }

#info #logOut a
{
    color:red;
}

.clear
{
    clear: both;
}

.wrapper
{
    position: absolute;
    left: 0;
    top: 65px;
    border:2px solid red;
    width:100%;
    height:300px;
}
